[package]
name = "zng-wgt-markdown"
version = "0.3.15"
authors = ["The Zng Project Developers"]
edition = "2021"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_wgt_markdown"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[dependencies]
zng-wgt = { path = "../zng-wgt", version = "0.4.8" }
zng-wgt-text = { path = "../zng-wgt-text", version = "0.4.5" }
zng-wgt-scroll = { path = "../zng-wgt-scroll", version = "0.4.15" }
zng-wgt-container = { path = "../zng-wgt-container", version = "0.3.5" }
zng-wgt-button = { path = "../zng-wgt-button", version = "0.4.5" }
zng-wgt-stack = { path = "../zng-wgt-stack", version = "0.3.15" }
zng-wgt-wrap = { path = "../zng-wgt-wrap", version = "0.3.15" }
zng-wgt-rule-line = { path = "../zng-wgt-rule-line", version = "0.3.15" }
zng-wgt-grid = { path = "../zng-wgt-grid", version = "0.3.13" }
zng-wgt-access = { path = "../zng-wgt-access", version = "0.2.25" }
zng-wgt-ansi-text = { path = "../zng-wgt-ansi-text", version = "0.3.15" }
zng-wgt-layer = { path = "../zng-wgt-layer", version = "0.3.15" }
zng-wgt-size-offset = { path = "../zng-wgt-size-offset", version = "0.2.25" }
zng-wgt-transform = { path = "../zng-wgt-transform", version = "0.2.25" }
zng-wgt-input = { path = "../zng-wgt-input", version = "0.2.25" }
zng-wgt-image = { path = "../zng-wgt-image", version = "0.3.15" }
zng-wgt-tooltip = { path = "../zng-wgt-tooltip", version = "0.4.5" }
zng-wgt-fill = { path = "../zng-wgt-fill", version = "0.2.25" }
zng-wgt-filter = { path = "../zng-wgt-filter", version = "0.2.25" }
zng-ext-input = { path = "../zng-ext-input", version = "0.5.13" }
zng-ext-image = { path = "../zng-ext-image", version = "0.2.25" }
zng-ext-font = { path = "../zng-ext-font", version = "0.3.21" }
zng-ext-clipboard = { path = "../zng-ext-clipboard", version = "0.2.25" }
zng-app = { path = "../zng-app", version = "0.9.5" }

pulldown-cmark = "0.11"
http = "1.1"
path-absolutize = { version = "3.1", features = ["use_unix_paths_on_wasm"] }
html-escape = "0.2"
serde = { version = "1.0", features = ["derive"] }
tracing = "0.1"
dunce = "1.0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
open = "5.1"
