[package]
name = "zng-env"
version = "0.8.0"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_env"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Check if `res` path is available in `init_built_res` first.
#
# Enabled by default in debug builds, ignored in Android and Wasm.
built_res = []

[dependencies]
zng-env-proc-macros = { path = "../zng-env-proc-macros", version = "0.5.0", default-features = false }
directories = { version = "6.0", default-features = false }
parking_lot = { version = "0.12", default-features = false }
tracing = { version = "0.1", default-features = false, features = ["std"] }
toml = { version = "0.9", default-features = false, features = ["parse", "std", "serde"] }
serde = { version = "1.0", default-features = false, features = ["std", "derive"] }
semver = { version = "1.0", default-features = false, features = ["std", "serde"] }

zng-unique-id = { path = "../zng-unique-id", version = "0.9.0", default-features = false }
zng-txt = { path = "../zng-txt", version = "0.5.0", default-features = false }

[target.'cfg(target_os = "android")'.dependencies]
tar = { version = "0.4", default-features = false, features = ["xattr"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
linkme = { version = "0.3.35", default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = { version = "0.2", default-features = false, features = ["std", "msrv"] }
js-sys = { version = "0.3", default-features = false, features = ["std"] }
console_error_panic_hook = { version = "0.1", default-features = false }
web-sys = { version = "0.3", default-features = false, features = ["std", "Window"] }

[package.metadata.docs.rs]
all-features = true
