[package]
name = "zng-ext-font"
version = "0.6.0"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_ext_font"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Embed hyphenation dictionaries.
#
# See the `hyphenation` for more details.
hyphenation_embed_all = ["hyphenation/embed_all"]

# Enable support for SVG image glyphs.
#
# This feature signals that the `IMAGES` service supports SVG. The app must ensure that this is so by
# using `zng-ext-svg` or another SVG extension.
svg = []

[dependencies]
zng-clone-move = { path = "../zng-clone-move", version = "0.3.0" }
zng-app-context = { path = "../zng-app-context", version = "0.6.0" }
zng-app = { path = "../zng-app", version = "0.15.0" }
zng-txt = { path = "../zng-txt", version = "0.3.0" }
zng-view-api = { path = "../zng-view-api", version = "0.12.0" }
zng-ext-l10n = { path = "../zng-ext-l10n", version = "0.7.0" }
zng-var = { path = "../zng-var", version = "0.6.0" }
zng-task = { path = "../zng-task", version = "0.5.0" }
zng-layout = { path = "../zng-layout", version = "0.3.0" }
zng-color = { path = "../zng-color", version = "0.5.0" }
zng-ext-image = { path = "../zng-ext-image", version = "0.4.0" }

serde = "1.0"
unicase = "2.7"
rustybuzz = "0.20"
ttf-parser = "0.25"
parking_lot = "0.12"
byteorder = "1.5"
icu_properties = "1.4"
bitflags = { version = "2.5", features = ["serde", "bytemuck"] }
tracing = "0.1"
pastey = "0.1"
num_enum = "0.7"
hyphenation = "0.8"
regex = "1.10"
unicode-bidi = "0.3"
unicode-linebreak = "0.1"
unicode-segmentation = "1.11"
unic-langid = "0.9"
smallvec = { version = "1.13", features = ["const_new", "serde"] }
hashbrown = "0.15"
pathfinder_geometry = "0.5"

[target.'cfg(not(any(target_arch = "wasm32", target_os = "android")))'.dependencies]
font-kit = "0.14"

[package.metadata.docs.rs]
all-features = true
