**/target
**/*.rs.bk
**/Cargo.lock
profile*.json
profile*.json.gz
**/*.expanded.rs
dump.*
dump*.*
screenshot.*
screencast.*
wip
cargo-timing*
large-image.*
examples/examples
TODO/_local.md
zng-view-prebuilt/lib/zng_view.*
zng-view-prebuilt/lib/libzng_view.*
**/*.mm_profdata
*.mono_items.md
examples/.do-doc-readme-*