**/target
**/*.rs.bk
**/Cargo.lock
profile*.json
profile*.json.gz
**/*.expanded.rs
dump.*
dump*.*
/screenshot.*
/screencast.*
wip
cargo-timing*
large-image.*
examples/test*
crates/zng-view-prebuilt/lib/zng_view.*
crates/zng-view-prebuilt/lib/libzng_view.*
**/*.mm_profdata
*.mono_items.md
do.bat
do.ps1
do
/trace-*.json
**/pseudo*.ftl
**/pseudo*/*.ftl
/zng-trace