[package]
name = "zng-view-api"
version = "0.18.3"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_view_api"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Enables creation of separate or pre-build view.
#
# Only enables in `cfg(not(any(target_os = "android", target_arch = "wasm32", target_os = "ios")))` builds.
ipc = ["zng-task/ipc"]

# Implement `IntoVar<T>` for API types.
var = ["dep:zng-var"]

[dependencies]
euclid = { version = "0.22.6", features = [
    "serde",
    "bytemuck",
] } # same version as webrender, but with bytemuck

zng-unit = { path = "../zng-unit", version = "0.5.4", default-features = false }
zng-env = { path = "../zng-env", version = "0.9.2", default-features = false }
zng-txt = { path = "../zng-txt", version = "0.5.2", default-features = false }
zng-tp-licenses = { path = "../zng-tp-licenses", version = "0.7.2", default-features = false }
zng-var = { path = "../zng-var", version = "0.12.2", optional = true, default-features = false }
zng-task = { path = "../zng-task", version = "0.11.3", default-features = false }

serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_bytes = { version = "0.11", features = ["std"], default-features = false }

tracing = { version = "0.1", default-features = false }
num-traits = { version = "0.2", default-features = false, features = ["std"] }
rustc-hash = { version = "2.0", default-features = false, features = ["std"] }

bitflags = { version = "2.5", default-features = false, features = ["serde", "bytemuck"] }
bytemuck = { version = "1.15", default-features = false, features = ["derive"] }

bincode = { version = "2.0", default-features = false, features = ["serde", "std"] }
parking_lot = { version = "0.12", default-features = false }
serde_variant = { version = "0.1", default-features = false }

unic-langid = { version = "0.9", features = ["serde"] }

dunce = { version = "1.0", default-features = false }
tracing-shared = { version = "0.2", default-features = false, features = ["log"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-time = { version = "1.0", default-features = false }

[build-dependencies]
cfg_aliases = { version = "0.2", default-features = false }

[package.metadata.docs.rs]
all-features = true
