[package]
name = "cargo-zng"
version = "0.8.0"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Zng project manager."
documentation = "https://zng-ui.github.io/doc/cargo_zng"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[dependencies]
# cli
clap = { version = "4.5", features = ["std", "derive", "color", "help", "suggestions", "usage"], default-features = false }
color-print = { version = "0.3", default-features = false }

# l10n
rayon = { version = "1.10", default-features = false }
glob = { version = "0.3", default-features = false }
fluent-pseudo = { version = "0.3", default-features = false }
fluent-syntax = { version = "0.12", default-features = false }
proc-macro2 = { version = "1.0", features = ["span-locations"], default-features = false }
litrs = { version = "0.5", features = ["proc-macro2"], default-features = false }
serde = { version = "1.0", features = ["std", "derive"], default-features = false }
serde_json = { version = "1.0", features = ["std", "preserve_order"], default-features = false }
semver = { version = "1.0", features = ["std"], default-features = false }

# new
convert_case = { version = "0.8", default-features = false }
sanitise-file-name = { version = "1.0", features = ["std"], default-features = false }

# res
sha2 = { version = "0.10", features = ["std"], default-features = false }
parking_lot = { version = "0.12", default-features = false }
walkdir = { version = "2.5", default-features = false }
is_executable = { version = "1.0", default-features = false }
anyhow = { version = "1.0", features = ["std"], default-features = false }
dunce = { version = "1.0", default-features = false }
zng-env = { path = "../zng-env", version = "0.7.0", default-features = false }
directories = { version = "6.0", default-features = false }
quick-xml = { version = "0.38", features = ["serialize"], default-features = false }

# fmt
regex = { version = "1.10", features = ["std", "perf", "unicode"], default-features = false }
once_cell = { version = "1.19", features = ["std", "parking_lot"], default-features = false }
blocking = { version = "1.5", default-features = false }
pretty_assertions = { version = "1.4", features = ["std"], default-features = false }

[lints.clippy]
exhaustive_structs = "warn"

[package.metadata.docs.rs]
all-features = true
