[package]
name = "zng-wgt-scroll"
version = "0.8.2"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_wgt_scroll"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
default = []
# **deprecated** no longer needed
debug_default = []
# **deprecated** no longer needed
dyn_closure = []

[dependencies]
zng-wgt = { path = "../zng-wgt", version = "0.9.2" }
zng-wgt-fill = { path = "../zng-wgt-fill", version = "0.6.2" }
zng-wgt-access = { path = "../zng-wgt-access", version = "0.6.2" }
zng-wgt-size-offset = { path = "../zng-wgt-size-offset", version = "0.6.2" }
zng-wgt-container = { path = "../zng-wgt-container", version = "0.8.2" }
zng-wgt-input = { path = "../zng-wgt-input", version = "0.6.2" }
zng-wgt-layer = { path = "../zng-wgt-layer", version = "0.7.2" }
zng-app = { path = "../zng-app", version = "0.17.2" }
zng-ext-window = { path = "../zng-ext-window", version = "0.7.2" }
zng-ext-input = { path = "../zng-ext-input", version = "0.9.2" }
zng-var = { path = "../zng-var", version = "0.8.2" }
zng-color = { path = "../zng-color", version = "0.7.2" }

serde = { version = "1.0", features = ["derive"] }
atomic = "0.6"
bitflags = { version = "2.5", features = ["serde", "bytemuck"] }
bytemuck = { version = "1.15", features = ["derive"] }
euclid = "0.22"
parking_lot = "0.12"
tracing = "0.1"

[package.metadata.docs.rs]
all-features = true
