[package]
name = "zng-wgt-stack"
version = "0.10.1"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_wgt_stack"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[dependencies]
zng-wgt = { path = "../zng-wgt", version = "0.12.1", default-features = false }
zng-wgt-size-offset = { path = "../zng-wgt-size-offset", version = "0.9.1", default-features = false }
zng-app = { path = "../zng-app", version = "0.20.1", default-features = false }
zng-layout = { path = "../zng-layout", version = "0.8.1", default-features = false }
zng-var = { path = "../zng-var", version = "0.11.1", default-features = false }

euclid = { version = "0.22", default-features = false }
serde = { version = "1.0", default-features = false, features = ["derive"] }
tracing = { version = "0.1", default-features = false }

[package.metadata.docs.rs]
all-features = true
