[package]
name = "zng-ext-hot-reload"
version = "0.4.0"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_ext_hot_reload"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[dependencies]
zng-ext-hot-reload-proc-macros = { path = "../zng-ext-hot-reload-proc-macros", version = "0.2.0" }

# the `static` dyn patching `linkme` register is implemented on this crate
# so it is available across the entire workspace.
zng-unique-id = { path = "../zng-unique-id", version = "0.6.0", features = ["hot_reload"] }
zng-env = { path = "../zng-env", version = "0.5.0" }
zng-app-context = { path = "../zng-app-context", version = "0.7.0" }
zng-app = { path = "../zng-app", version = "0.16.0" }
zng-ext-fs-watcher = { path = "../zng-ext-fs-watcher", version = "0.5.0" }
zng-unit = { path = "../zng-unit", version = "0.3.1" }
zng-var = { path = "../zng-var", version = "0.7.0" }
zng-task = { path = "../zng-task", version = "0.6.0" }
zng-txt = { path = "../zng-txt", version = "0.3.1" }

libloading = "0.8"
linkme = "=0.3.33" # locked to zng-env version
tracing = "0.1"
tracing-shared = { version = "0.1.5", default-features = false, features = ["log"] }
glob = "0.3"
