[package]
name = "zng-wgt"
version = "0.9.2"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_wgt"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
default = ["debug_default"]

# **deprecated** enable needed features directly.
debug_default = ["zng-var/debug_default"]

# **deprecated** no longer needed
dyn_closure = []

# Enable web tasks.
http = ["zng-task/http"]

[dependencies]
zng-clone-move = { path = "../zng-clone-move", version = "0.3.1" }
zng-app = { path = "../zng-app", version = "0.17.2" }
zng-color = { path = "../zng-color", version = "0.7.2" }
zng-app-context = { path = "../zng-app-context", version = "0.8.2" }
zng-var = { path = "../zng-var", version = "0.8.2" }
zng-state-map = { path = "../zng-state-map", version = "0.6.2" }
zng-layout = { path = "../zng-layout", version = "0.5.2" }
zng-task = { path = "../zng-task", version = "0.7.2" }
zng-txt = { path = "../zng-txt", version = "0.4.0" }
zng-unique-id = { path = "../zng-unique-id", version = "0.7.2" }

pastey = "0.1"
tracing = "0.1"
serde = { version = "1.0", features = ["derive"] }
pretty-type-name = "1.0"

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-time = "1.0"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--html-in-header", "doc/html-in-header.html"]
