[package]
name = "zng-wgt"
version = "0.13.1"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_wgt"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Enable web tasks.
http = ["zng-task/http"]

[dependencies]
zng-clone-move = { path = "../zng-clone-move", version = "0.4.0", default-features = false }
zng-app = { path = "../zng-app", version = "0.21.1", default-features = false }
zng-color = { path = "../zng-color", version = "0.11.0", default-features = false }
zng-app-context = { path = "../zng-app-context", version = "0.11.0", default-features = false }
zng-var = { path = "../zng-var", version = "0.12.0", default-features = false }
zng-state-map = { path = "../zng-state-map", version = "0.9.0", default-features = false }
zng-layout = { path = "../zng-layout", version = "0.9.0", default-features = false }
zng-task = { path = "../zng-task", version = "0.11.0", default-features = false }
zng-txt = { path = "../zng-txt", version = "0.5.0", default-features = false }
zng-unique-id = { path = "../zng-unique-id", version = "0.10.0", default-features = false }

pastey = { version = "0.2", default-features = false }
tracing = { version = "0.1", default-features = false }
serde = { version = "1.0", default-features = false, features = ["derive"] }
pretty-type-name = { version = "1.0", default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-time = { version = "1.0", default-features = false }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--html-in-header", "doc/html-in-header.html"]
