[package]
name = "zng-ext-window"
version = "0.6.1"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_ext_window"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Enable test util methods, `doc_test_window`.
test_util = []
# Implement conversions from http types.
http = ["zng-task/http", "zng-ext-image/http"]

[dependencies]
zng-clone-move = { path = "../zng-clone-move", version = "0.3.0" }
zng-unique-id = { path = "../zng-unique-id", version = "0.6.1" }
zng-app-context = { path = "../zng-app-context", version = "0.7.1" }
zng-app = { path = "../zng-app", version = "0.16.1" }
zng-var = { path = "../zng-var", version = "0.7.1" }
zng-txt = { path = "../zng-txt", version = "0.3.1" }
zng-layout = { path = "../zng-layout", version = "0.4.1" }
zng-state-map = { path = "../zng-state-map", version = "0.4.3" }
zng-view-api = { path = "../zng-view-api", version = "0.13.1" }
zng-task = { path = "../zng-task", version = "0.6.1" }
zng-ext-image = { path = "../zng-ext-image", version = "0.5.1" }
zng-color = { path = "../zng-color", version = "0.6.1" }
zng-env = { path = "../zng-env", version = "0.5.1" }
zng-wgt = { path = "../zng-wgt", version = "0.8.1" }

serde = { version = "1.0", features = ["derive"] }
bitflags = { version = "2.5", features = ["serde", "bytemuck"] }
atomic = "0.6"
tracing = "0.1"
parking_lot = "0.12"

[package.metadata.docs.rs]
all-features = true
