[package]
name = "zng-task"
version = "0.10.2"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_task"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]

# Enables parking_lot deadlock detection.
deadlock_detection = ["parking_lot/deadlock_detection"]

# Enables real worker processes and IPC channels.
#
# Only enables in `cfg(not(any(target_os = "android", target_arch = "wasm32", target_os = "ios")))` builds.
ipc = ["dep:duct", "dep:ipc-channel", "dep:zng-unique-id", "dep:memmap2"]

# Enables http tasks.
http = [
    "dep:serde_json",
    "dep:isahc",
    "dep:http-cache-semantics",
    "dep:http-serde",
    "dep:once_cell",
    "dep:async-recursion",
    "dep:async-trait",
    "dep:sha2",
    "dep:base64",
    "dep:remove_dir_all",
]

# Enabled by doc tests.
test_util = []

[dependencies]
zng-task-proc-macros = { path = "../zng-task-proc-macros", version = "0.4.0", default-features = false }
zng-clone-move = { path = "../zng-clone-move", version = "0.4.0", default-features = false }
zng-unit = { path = "../zng-unit", version = "0.5.2", default-features = false }
zng-app-context = { path = "../zng-app-context", version = "0.10.0", default-features = false }
zng-time = { path = "../zng-time", version = "0.7.0", default-features = false }
zng-var = { path = "../zng-var", version = "0.11.2", default-features = false }
zng-env = { path = "../zng-env", version = "0.8.0", default-features = false }
zng-txt = { path = "../zng-txt", version = "0.5.0", default-features = false }
zng-state-map = { path = "../zng-state-map", version = "0.8.0", default-features = false }

zng-unique-id = { path = "../zng-unique-id", version = "0.9.0", default-features = false, optional = true }

tracing = { version = "0.1", default-features = false }
pretty-type-name = { version = "1.0", default-features = false }
flume = { version = "0.11", default-features = false, features = ["async"] }
rayon = { version = "1.10", default-features = false }
blocking = { version = "1.5", default-features = false }
parking_lot = { version = "0.12", default-features = false }
futures-timer = { version = "3.0", default-features = false }

isahc = { version = "1.7", default-features = false, features = [
    "http2",
    "static-curl",
    "text-decoding",
    "cookies",
    "json",
], optional = true }
futures-lite = { version = "2.3", default-features = false }
async-fs = { version = "2.1", default-features = false }
serde = { version = "1.0", default-features = false }
serde_json = { version = "1.0", default-features = false, features = [
    "std",
], optional = true }
http-cache-semantics = { version = "1.0", default-features = false, features = [
    "with_serde",
], optional = true } # isahc needs this version
http-serde = { version = "1.1", default-features = false, optional = true }
once_cell = { version = "1.19", default-features = false, features = [
    "parking_lot",
], optional = true }
async-recursion = { version = "1.1", default-features = false, optional = true }
async-trait = { version = "0.1", default-features = false, optional = true }
sha2 = { version = "0.10", default-features = false, optional = true }
base64 = { version = "0.22", default-features = false, features = ["std"], optional = true }
remove_dir_all = { version = "1", default-features = false, optional = true }
dunce = { version = "1.0", default-features = false }
serde_bytes = { version = "0.11", features = ["std"], default-features = false }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
duct = { version = "1.0", default-features = false, optional = true }
ipc-channel = { version = "0.20", default-features = false, optional = true }
memmap2 = { version = "0.9.8", default-features = false, optional = true }

[build-dependencies]
cfg_aliases = { version = "0.2", default-features = false }

[package.metadata.docs.rs]
all-features = true
