[package]
name = "zng-task"
version = "0.5.0"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_task"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]

# Enables parking_lot deadlock detection.
deadlock_detection = ["parking_lot/deadlock_detection"]

# Enables ipc tasks.
#
# Only enables in `cfg(not(any(target_os = "android", target_arch = "wasm32", target_os = "ios")))` builds.
ipc = [
    "dep:duct",
    "dep:serde",
    "dep:ipc-channel",
    "dep:bincode",
    "dep:zng-unique-id",
]

# Enables http tasks.
http = [
    "dep:serde",
    "dep:serde_json",
    "dep:isahc",
    "dep:http-cache-semantics",
    "dep:http-serde",
    "dep:once_cell",
    "dep:async-recursion",
    "dep:async-trait",
    "dep:sha2",
    "dep:base64",
    "dep:fs4",
    "dep:remove_dir_all",
]

# Enabled by doc tests.
test_util = []

[dependencies]
zng-task-proc-macros = { path = "../zng-task-proc-macros", version = "0.3.0" }
zng-clone-move = { path = "../zng-clone-move", version = "0.3.0" }
zng-unit = { path = "../zng-unit", version = "0.3.0" }
zng-app-context = { path = "../zng-app-context", version = "0.6.0" }
zng-time = { path = "../zng-time", version = "0.3.0" }
zng-var = { path = "../zng-var", version = "0.6.0" }
zng-env = { path = "../zng-env", version = "0.4.0" }
zng-txt = { path = "../zng-txt", version = "0.3.0" }
zng-state-map = { path = "../zng-state-map", version = "0.4.0" }

zng-unique-id = { path = "../zng-unique-id", version = "0.5.0", default-features = false, optional = true }

tracing = "0.1"
pretty-type-name = "1.0"
flume = { version = "0.11", default-features = false, features = ["async"] }
rayon = "1.10"
blocking = "1.5"
parking_lot = "0.12"
futures-timer = "3.0"

isahc = { version = "1.7", features = ["cookies", "json"], optional = true }
futures-lite = "2.3"
async-fs = "2.1"
serde = { version = "1.0", optional = true }
serde_json = { version = "1.0", optional = true }
http-cache-semantics = { version = "1.0", optional = true }                  # isahc needs this version
http-serde = { version = "1.1", optional = true }
once_cell = { version = "1.19", optional = true }
async-recursion = { version = "1.1", optional = true }
async-trait = { version = "0.1", optional = true }
sha2 = { version = "0.10", optional = true }
base64 = { version = "0.22", optional = true }
remove_dir_all = { version = "1", optional = true }
bincode = { version = "1.3", optional = true }
dunce = "1.0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
duct = { version = "0.13", optional = true }
fs4 = { version = "0.12", optional = true }
ipc-channel = { version = "0.19", optional = true }

[build-dependencies]
cfg_aliases = "0.2"

[package.metadata.docs.rs]
all-features = true
