[package]
name = "zng-wgt-style"
version = "0.6.5"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_wgt_style"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Integration with widget trace instrumentation.
trace_widget = ["zng-app/trace_widget"]

[dependencies]
zng-wgt = { path = "../zng-wgt", version = "0.8.5" }
zng-app = { path = "../zng-app", version = "0.16.5" }

tracing = "0.1"

[lints.clippy]
exhaustive_structs = "warn"
