[package]
name = "zng-ext-fs-watcher"
version = "0.3.9"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_ext_fs_watcher"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Enable JSON helpers.
json = ["dep:serde_json"]
# Enable YAML helpers.
yaml = ["dep:serde_yaml"]
# Enable TOML helpers.
toml = ["dep:toml"]
# Enable RON helpers.
ron = ["dep:ron"]

[dependencies]
zng-app-context = { path = "../zng-app-context", version = "0.5.14" }
zng-app = { path = "../zng-app", version = "0.14.9" }
zng-clone-move = { path = "../zng-clone-move", version = "0.2.5" }
zng-var = { path = "../zng-var", version = "0.5.16" }
zng-txt = { path = "../zng-txt", version = "0.2.8" }
zng-unit = { path = "../zng-unit", version = "0.2.11" }
zng-handle = { path = "../zng-handle", version = "0.2.5" }
zng-task = { path = "../zng-task", version = "0.4.18" }

walkdir = "2.5"
serde = "1.0"
tracing = "0.1"
glob = "0.3"
notify = "6.1"
path-absolutize = "3.1"
atomic = "0.6"
parking_lot = "0.12"
flume = "0.11"

serde_json = { version = "1.0", optional = true }
toml = { version = "0.8", optional = true, features = ["preserve_order"] }
ron = { version = "0.8", optional = true, features = ["indexmap"] }
serde_yaml = { version = "0.9", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
fs4 = "0.12"

[package.metadata.docs.rs]
all-features = true
