[package]
name = "zng-ext-fs-watcher"
version = "0.10.3"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_ext_fs_watcher"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Enable JSON helpers.
json = ["dep:serde_json"]
# Enable YAML helpers.
yaml = ["dep:serde_yaml"]
# Enable TOML helpers.
toml = ["dep:toml"]
# Enable RON helpers.
ron = ["dep:ron"]

[dependencies]
zng-app-context = { path = "../zng-app-context", version = "0.11.0", default-features = false }
zng-app = { path = "../zng-app", version = "0.21.3", default-features = false }
zng-clone-move = { path = "../zng-clone-move", version = "0.4.0", default-features = false }
zng-var = { path = "../zng-var", version = "0.12.0", default-features = false }
zng-txt = { path = "../zng-txt", version = "0.5.0", default-features = false }
zng-unit = { path = "../zng-unit", version = "0.5.2", default-features = false }
zng-handle = { path = "../zng-handle", version = "0.4.0", default-features = false }
zng-task = { path = "../zng-task", version = "0.11.1", default-features = false }

walkdir = { version = "2.5", default-features = false }
serde = { version = "1.0", default-features = false, features = ["std"] }
tracing = { version = "0.1", default-features = false, features = ["std"] }
glob = { version = "0.3", default-features = false  }
notify = { version = "8.0", default-features = false, features = ["macos_fsevent"] }
path-absolutize = { version = "3.1", default-features = false }
atomic = { version = "0.6", default-features = false, features = ["fallback"] }
parking_lot = { version = "0.12", default-features = false }

serde_json = { version = "1.0", optional = true, default-features = false, features = ["std"] }
toml = { version = "0.9", optional = true, default-features = false, features = ["preserve_order", "display", "std", "serde", "parse"] }
ron = { version = "0.12", optional = true, default-features = false, features = ["indexmap"] }
serde_yaml = { version = "0.9", default-features = false, optional = true }

[package.metadata.docs.rs]
all-features = true
