[package]
name = "zng-ext-config"
version = "0.11.2"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_ext_config"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Enable JSON support.
json = ["dep:serde_json", "zng-ext-fs-watcher/json"]
# Enable YAML support.
yaml = ["dep:serde_yaml", "zng-ext-fs-watcher/yaml"]
# Enable TOML support.
toml = ["dep:toml", "zng-ext-fs-watcher/toml"]
# Enable RON support.
ron = ["dep:ron", "zng-ext-fs-watcher/ron"]

[dependencies]
zng-app-context = { path = "../zng-app-context", version = "0.11.0", default-features = false }
zng-app = { path = "../zng-app", version = "0.21.2", default-features = false }
zng-var = { path = "../zng-var", version = "0.12.0", default-features = false }
zng-txt = { path = "../zng-txt", version = "0.5.0", default-features = false }
zng-task = { path = "../zng-task", version = "0.11.1", default-features = false }
zng-clone-move = { path = "../zng-clone-move", version = "0.4.0", default-features = false }
zng-unique-id = { path = "../zng-unique-id", version = "0.10.0", default-features = false }
zng-ext-fs-watcher = { path = "../zng-ext-fs-watcher", version = "0.10.2", default-features = false }
zng-state-map = { path = "../zng-state-map", version = "0.9.0", default-features = false }
zng-unit = { path = "../zng-unit", version = "0.5.2", default-features = false }

tracing = { version = "0.1", default-features = false, features = ["std"] }
bytemuck = { version = "1.15", default-features = false, features = ["derive"] }
indexmap = { version = "2.2", default-features = false, features = ["serde", "std"] }
atomic = { version = "0.6", default-features = false, features = ["fallback"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = { version = "1.0", optional = true, default-features = false, features = ["std", "preserve_order"] }
toml = { version = "0.9", optional = true, default-features = false, features = ["preserve_order", "std", "serde"] }
ron = { version = "0.12", optional = true, default-features = false, features = ["indexmap"] }
serde_yaml = { version = "0.9", optional = true, default-features = false }

[package.metadata.docs.rs]
all-features = true
