[package]
name = "zng-view-prebuilt"
version = "0.15.7"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_view_prebuilt"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
default = ["embedded"]

# Requires embedded on build, if prebuilt is not in './lib' and download fails the build will fail.
embedded = []

[dependencies]
zng-view-api = { path = "../zng-view-api", version = "0.13.3", default-features = false }
zng-env = { path = "../zng-env", version = "0.5.3" }
libloading = "0.8"
dunce = "1.0"
parking_lot = "0.12"

[build-dependencies]
hashers = "1.0"
base64 = "0.22"
home = "0.5"
dunce = "1.0"

[package.metadata.docs.rs]
all-features = true
