[package]
name = "zng-tp-licenses"
version = "0.7.1"
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_third_party_licenses"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Include helpers for collecting third-party licenses.
build = ["dep:serde_json", "dep:deflate", "dep:bincode"]
# Include helpers for deserializing `build` encoded licenses.
bundle = ["dep:inflate", "dep:bincode"]

[dependencies]
zng-txt = { path = "../zng-txt", version = "0.5.1", default-features = false }

serde = { version = "1.0", default-features = false, features = ["derive"] }

serde_json = { version = "1.0", default-features = false, features = ["std"], optional = true }
deflate = { version = "1.0", default-features = false, optional = true }
inflate = { version = "0.4", default-features = false, optional = true }
bincode = { version = "1", default-features = false, optional = true }

[target.'cfg(windows)'.dependencies]
tempfile = { version = "3.10", default-features = false }
