[package]
name = "zng-wgt-material-icons"
version = "0.10.2"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_wgt_material_icons"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Embedded font files.
embedded = []

# Outlined icon set.
outlined = []

# Filled icon set.
filled = []

# Rounded icon set.
rounded = []

# Sharp icon set.
sharp = []

[dependencies]
zng-app = { path = "../zng-app", version = "0.20.2", default-features = false }
zng-wgt = { path = "../zng-wgt", version = "0.12.2", default-features = false }
zng-var = { path = "../zng-var", version = "0.11.2", default-features = false }
zng-ext-font = { path = "../zng-ext-font", version = "0.11.2", default-features = false }
zng-wgt-text = { path = "../zng-wgt-text", version = "0.11.2", default-features = false }

phf = { version = "0.13", default-features = false }
tracing = { version = "0.1", default-features = false }

[build-dependencies]
dunce = { version = "1.0", default-features = false }
phf_codegen = { version = "0.13", default-features = false }

[package.metadata.docs.rs]
all-features = true

[package.metadata.zng-do]
# this file is generated on build, docs.rs does not give write access to target/doc.
rustdoc-args = [
    "--html-in-header",
    "target/doc/zng-material-icons-extensions.html",
]
