[package]
name = "zng-var"
version = "0.7.5"
authors = ["The Zng Project Developers"]
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_var"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
default = ["debug_default"]

# Signal the build script to enable the more features in debug builds.
debug_default = []

# Add `value_type_name` method to get the diagnostics type name from variable values.
type_names = []

# Box closures at opportune places, such as `Var::map`, reducing the number of monomorphised types.
#
# This speeds-up compilation time at the cost of runtime.
dyn_closure = [] # !!: TODO review this, not used

[dependencies]
zng-var-proc-macros = { path = "../zng-var-proc-macros", version = "0.3.0" }

zng-txt = { path = "../zng-txt", version = "0.3.2" }
zng-unit = { path = "../zng-unit", version = "0.3.3" }
zng-app-context = { path = "../zng-app-context", version = "0.7.3" }
zng-time = { path = "../zng-time", version = "0.4.3" }
zng-clone-move = { path = "../zng-clone-move", version = "0.3.0" }
zng-handle = { path = "../zng-handle", version = "0.3.1" }

bitflags = { version = "2.5", features = ["serde", "bytemuck"] }
bytemuck = { version = "1.15", features = ["derive"] }
parking_lot = "0.12"
tracing = "0.1"
smallbox = "0.8"
smallvec = { version = "1.13", features = ["const_new"] }

[package.metadata.docs.rs]
all-features = true
