[package]
name = "zng-ext-l10n"
version = "0.6.9"
authors = ["The Zng Project Developers"]
edition = "2021"
license = "Apache-2.0 OR MIT"
readme = "README.md"
description = "Part of the zng project."
documentation = "https://zng-ui.github.io/doc/zng_ext_l10n"
repository = "https://github.com/zng-ui/zng"
categories = ["gui"]
keywords = ["gui", "ui", "user-interface", "zng"]

[features]
# Support for loading localization resources from TAR and Tarball.
tar = ["dep:flate2", "dep:tar"]
default = ["tar"]

[dependencies]
zng-ext-l10n-proc-macros = { path = "../zng-ext-l10n-proc-macros", version = "0.2.9" }

zng-app-context = { path = "../zng-app-context", version = "0.5.14" }
zng-app = { path = "../zng-app", version = "0.14.9" }
zng-var = { path = "../zng-var", version = "0.5.16" }
zng-txt = { path = "../zng-txt", version = "0.2.8" }
zng-clone-move = { path = "../zng-clone-move", version = "0.2.5" }
zng-view-api = { path = "../zng-view-api", version = "0.11.6" }
zng-layout = { path = "../zng-layout", version = "0.2.37" }
zng-task = { path = "../zng-task", version = "0.4.18" }
zng-ext-fs-watcher = { path = "../zng-ext-fs-watcher", version = "0.3.9" }
zng-env = { path = "../zng-env", version = "0.3.9" }

fluent = "0.16"
fluent-syntax = "0.11"
intl-memoizer = "0.5"
parking_lot = "0.12"
unic-langid = "0.9"
tracing = "0.1"
unicase = "2.7"
once_cell = "1.19"
dunce = "1.0"
semver = "1.0"
serde = { version = "1.0", features = ["derive"] }

flate2 = { version = "1.0", optional = true }
tar = { version = "0.4", optional = true }
