name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1
  RUSTFLAGS: '--codegen=debuginfo=0 --deny=warnings'
  RUSTDOCFLAGS: '--deny=warnings'
  CARGO_TERM_COLOR: always
  ZNG_TP_LICENSES: false

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo do version --verbose
      - run: cargo do fmt --check
      - run: cargo do check
      - run: cargo clean
  doc:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-targets: false # do doc needs a clean target/doc
      - run: cargo do doc
      - run: cargo clean
  check-release:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo check --workspace --examples --tests --release
      - run: cargo clean
  test-ubuntu:
    runs-on: ubuntu-latest
    needs: [check]
    env:
      ZNG_TP_LICENSES: true
    steps:
    - uses: dtolnay/rust-toolchain@stable
    - name: install cargo-about
      uses: baptiste0928/cargo-install@v3
      with:
        crate: cargo-about
    - name: install cargo-nextest
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-nextest
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
    - run: cargo do test --nextest
    - run: cargo clean
  test-windows:
    runs-on: windows-latest
    needs: [check]
    env:
      ZNG_TP_LICENSES: true
      NEXTEST_RETRIES: 3
      CC: 'clang-cl'
      CXX: 'clang-cl'
    steps:
    - uses: dtolnay/rust-toolchain@stable
    - name: install cargo-about
      uses: baptiste0928/cargo-install@v3
      with:
        crate: cargo-about
    - name: install cargo-nextest
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-nextest
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
    - run: cargo do test --nextest
    - run: cargo clean
  test-macos:
    runs-on: macos-latest
    needs: [check]
    env:
      ZNG_TP_LICENSES: true
      NEXTEST_RETRIES: 3
    steps:
    - uses: dtolnay/rust-toolchain@stable
    - name: install cargo-about
      uses: baptiste0928/cargo-install@v3
      with:
        crate: cargo-about
    - name: install cargo-nextest
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-nextest
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
    - run: cargo do test --nextest
    - run: cargo clean
  test-doc:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo do test --doc
      - run: cargo clean
  test-macro:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rust-src
      - uses: Swatinem/rust-cache@v2
      - run: cargo do test --macro --all
      - run: cargo clean
  test-all:
    runs-on: ubuntu-latest
    needs: [check-release, doc, test-ubuntu, test-windows, test-macos, test-doc, test-macro]
    steps:
      - run: exit 0
