name: Find Breaking Changes

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  ZNG_TP_LICENSES: false

jobs:
  semver-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - name: install cargo-semver-checks
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-semver-checks
      - uses: actions/checkout@v4
      - run: sudo apt-get update -o Acquire::Retries=5 && sudo apt install libfontconfig1-dev -o Acquire::Retries=5
      - run: cargo do semver_check